.signup
  .sign
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .sign__name
        .sign__name__l
          = f.label :名前, class: "sign-label"
        .sign_name__form
          = f.text_field :name, class: "sign-form"

      .sign__email
        .sign__email__l
          = f.label :email, class: "sign-label"
        .sign__email__form
          = f.email_field :email, class: "sign-form"

      .sign__pass
        .sign__pass__l
          = f.label :password, class: "sign-label"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length}文字以上)
          %br/
        .sign__pass__form
          = f.password_field :password, class: "sign-form"

      .sign__conf
        .sign__conf__l
          = f.label :password_confirmation, class: "sign-label"
        .sign__conf__form
          = f.password_field :password_confirmation, class: "sign-form"

      .sign__submit
        = f.submit "登録する", class: "submit-btn"

      = render "devise/shared/links"
