
.form
  .form__wrap
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form__wrap__title
        %h1 putqへようこそ
      .form__wrap__name
        = f.text_field :name, placeholder: "名前",class: "input-default"
      .form__wrap__email
        = f.email_field :email, placeholder: "メールアドレス",class: "input-default"
      .form__wrap__pass
        = f.password_field :password, placeholder: "パスワード",class: "input-default"
      .form__wrap__conf
        = f.password_field :password_confirmation, placeholder: "パスワードの確認",class: "input-default"
      .form__wrap__submit
        = f.submit "登録する", class: "form-btn"
      .form__wrap__login
        = render "devise/shared/links"
