= form_for (@folder) do |f|
  = f.label :name, 'フォルダ名'
  = f.text_field :name

  / = render partial: 'posts/post', locals: {posts: @posts}
  = collection_check_boxes(:post, :post_ids, Post.all, :id, :title)
  / = collection_check_boxes :post_ids, @posts, Post.all ,:id, :title
  = f.submit
