.user-show
  %section.user
    .user__info
      .user__info__upper
        %p
          = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
        %p
          = @user.name
      .user__info__follow
        %p.follow
          フォロー
          %span 10
        %p.follower
          フォロワー
          %span 5

    .user__post
      %ul.user__post__bar.nav.nav-tabs
        %li.num1.nav-item
          = link_to '投稿一覧',"#tab1", {"data-toggle": "tab", class: "nav-link active"}
          %span
        %li.num2.nav-item
          = link_to 'いいねした投稿', "#tab2", {"data-toggle": "tab", class: "nav-link"}
          %span
        %li.num3.nav-item
          = link_to 'My問題集', "#tab3", {"data-toggle": "tab", class: "nav-link"}
          %span

      .user__post__main.tab-content
        .user__post__main__p.posts#tab1.tab-pane.active
          = render partial: 'posts/post', locals: { posts: @posts }
        .user__post__main__p.posts#tab2.tab-pane
        .user__post__main__p.posts#tab3.tab-pane

        = paginate @posts
