- posts.each do |post|
  .posts--all--new__post--each
    .posts--all--new__post--each__title
      %h2
        = link_to post.title, post_path(post)
    .posts--all--new__post--each__content
      %h2.posts--all--new__post--each__content__c
        = truncate(post.content, length: 100)

    .posts--all--new__post--each__category
      %span
        = link_to post.category.name, '#', class: "cat"

    .posts--all--new__post--each__user
      %p
        = image_tag('user.png', class: "user-pic", alt: "プロフ画像", width: 30, height: 30)
      %p
        = post.user.name
