.posts
  .posts--all
    .posts--all--new
      .posts--all--new__title
        %p 最新
      .posts--all--new__post
        .slider
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー
          .posts--all--new__post--each
            .posts--all--new__post--each__user
              %p.avatar
                = image_tag('user.png', class: "user-pic", alt: "プロフ画像")
              %h1.user-name
                テストユーザーテテストユーザーテ
            .posts--all--new__post--each__title
              %h2 Railsの問題
            .posts--all--new__post--each__content
              %h2.posts--all--new__post--each__content__c
                RailsにおけるORMの意味を詳しく説明せよ。RailsにおけるORMの意味を詳しく説明せよ。
            .posts--all--new__post--each__category
              %span
                = link_to '#' do
                  = fa_icon 'heart', class: "heart-icon"
                = link_to '#' do
                  = fa_icon 'tag', class: "tag-icon"
                  カテゴリー


    .posts--all--playlist
    .posts--all__category
