.around
  .posts--show
    .posts--show__user
      %p.posts--show__user__avatar
        = image_tag('user.png', class: "user-pic", alt: "ユーザーイメージ")
      .posts--show__user__name
        %p
          = @user.name
    .posts--show__title
      .posts--show__title__t
        %h2
          = @post.title
    .posts--show__category
      .posts--show__category__c
        %span.category
          %p プログラミング
        %span.category
          %p Ruby
        %span.category
          %p pc
        %span.category
          %p エンジニア
    .posts--show__content
      %h2 問題
      .posts--show__content__c
        = simple_format(@post.content)
    .posts--show__answer
      %h2 答え
      .posts--show__answer__a
        = simple_format(@post.answer)
    .posts--show__btn
    - if user_signed_in? && current_user.id == @post.user_id
      .posts--show__btn__b
        = link_to '編集', edit_post_path(@post), class: "edit-btn btn_b"
        = link_to '削除', post_path(@post), class: "delete-btn btn_b", method: :delete, data: { confirm: "削除してもいいですか？"}
